@{
    ViewData["Title"] = "Добро пожаловать на наш сайт!";
}


<div class="container_title">
    <div class="head_title">
        <h1>
            @ViewData["Title"]
        </h1>
        <p class="par_info">
            Если Вас занесло сюда, значит, Вы любите животных и у Вас доброе сердце. Здесь Вы сможете <a href="@Url.Action("Index", new { controller="Advertisements" })">по объявлению</a> найти себе верного друга или же подыскать новый дом и семью питомцу, 
            которого Вы по каким-либо причинам не можете оставить у себя. Так же Вы можете стать <a href="@Url.Action("Index", new { controller="VolunterAnnouncements" })">волонтёром</a> и, по мере своих возможностей, помогать животным, попавшим в беду.
            Ещё у нас Вы можете ознакомиться с наиболее полным списком <a href="@Url.Action("Index", new { controller="Clinics" })">ветеринарных клиник</a> города Караганда и получить о них контактную информацию.
            Кроме того, на нашем сайте есть уникальная возможность связаться с <a href="@Url.Action("Index", new { controller="Veterinarians" })">ветеринарным врачом</a> по E-mail, задав ему волнующие Вас вопросы.
            Ну и, конечно, у нас есть информация о <a href="@Url.Action("Index", new { controller="Shelters" })">приютах</a>, с которой Вы так же можете ознакомиться более подробно.
        </p>
    </div>

</div>