@model KindHands.Models.Clinic

@{
    ViewData["Title"] = "Удаление клиники";
}

<h1>@ViewData["Title"]</h1>
<hr />

<h3>Вы уверены, что хотите удалить выбранную клинику?</h3>
<div>
   <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
    <div class="details_container_description">
        <dt class="details_container_title">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="details_container_value">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </div>
   <form asp-action="Delete" class="delete_admin">
        <input type="hidden" asp-for="Id" />
        @if (User.IsInRole("ROLE_ADMIN") || User.IsInRole("ROLE_MODERATOR"))
        {
                <input type="submit" value="Да, удалить" class="btn_delete btn_delete_bg" />
        }
        <a asp-action="Index" class="btn_admin_details_back btn_delete">Вернуться назад</a>
    </form>
</div>
