<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KindHands</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KindHands.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/MyStyles.css" asp-append-version="true" />

    @*не работали представления создания, вставил эту строку*@
    @RenderSection("Scripts", required: false)


</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><img class="image" src="https://cdn-icons-png.flaticon.com/128/3769/3769087.png">KindHands</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (User.IsInRole("ROLE_ADMIN"))
            {
                <div class="menu">
                    <ul class="menu_list">
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Advertisements" asp-action="Index">Объявления</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="VolunterAnnouncements" asp-action="Index">Волонтёрство</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Clinics" asp-action="Index">Клиники</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Shelters" asp-action="Index">Приюты</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Veterinarians" asp-action="Index">Ветеринары</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Animals" asp-action="Index">Питомцы</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a>
                        </li>
                    </ul>
                </div>
            }
            else
            {

                <div class="menu">

                    <ul class="menu_list">
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                 
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Advertisements" asp-action="Index">Объявления</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="VolunterAnnouncements" asp-action="Index">Волонтёрство</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Clinics" asp-action="Index">Клиники</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Shelters" asp-action="Index">Приюты</a>
                        </li>
                        <li class="menu_list_li">
                            <a class="menu_btn" asp-area="" asp-controller="Veterinarians" asp-action="Index">Ветеринары</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li class="menu_list_li">
                                <a class="menu_btn" asp-area="" asp-controller="Advertisements" asp-action="UserAdvertisementIndex">Мои объявления</a>
                            </li>
                            <li class="menu_list_li">
                                <a class="menu_btn" asp-area="" asp-controller="Animals" asp-action="UserAnimalsIndex">Мои питомцы</a>
                            </li>
                            <li class="menu_list_li">
                                <a class="menu_btn" asp-area="" asp-controller="Users" asp-action="UserIndex">Мой профиль</a>
                            </li>
                        }
                    </ul>
                </div>

            }
            @if (User.Identity?.IsAuthenticated == true)
            {
                <form class="d-flex" asp-action="Logout" asp-controller="Login" method="post">
                    <span class="m-2">@User.Identity.Name</span>
                    <button class="btn btn-outline-success" type="submit">Выйти</button>
                </form>
            }
            else
            {
                <a class="btn_login" href="@Url.Action("Login", new { controller="Login"})">Вход<br>Регистрация</a>
            }
        </div>
    </nav>
</header>


<div class="container_main">
        @RenderBody()
    </main>
</div>


<body>


    <footer class="border-top footer text-muted">
        @*  <div class="container">
        &copy; 2022 - KindHands - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>*@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>


</html>

@*<div class="dropdown">
    <button class="dropbtn">Личный кабинет</button>
    <div class="dropdown-content">
        <a class="menu_btn" asp-area="" asp-controller="Advertisements" asp-action="UserAdvertisementIndex">Мои объявления</a>
        <a class="menu_btn" asp-area="" asp-controller="Animals" asp-action="UserAnimalsIndex">Мои питомцы</a>
        <a class="menu_btn" asp-area="" asp-controller="Users" asp-action="UserIndex">Мой профиль</a>
    </div>
</div>*@